/*----------------------------------------------------------*/
/*	# Common.
/*----------------------------------------------------------*/
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.row {
	width: 100%;
}


/*----------------------------------------------------------*/
/*	# Alerts.
/*----------------------------------------------------------*/
.alert {
	background-color: #888;
	border-radius: 2px;
	color: #fff;
	margin: 30px 0;
	padding: 20px;
	position: relative;
}

.alert-note {
	background-color: #fffae9;
	color: #eaa40e;
}

.alert-info {
	background-color: #eff8fe;
	color: #5db2f0;
}

.alert-error {
	background-color: #ffeeee;
	color: #fc5355;
}

.alert-success {
	background-color: #ebfaf5;
	color: #38c994;
}


/*----------------------------------------------------------*/
/*	# Buttons.
/*----------------------------------------------------------*/
.btn {
	background-color: #333;
	border: 1px solid;
	border-radius: 2px!important;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
	color: #FFF!important;
	cursor: pointer;
	display: inline-block;
	font: bold 14px/20px Helvetica, Helvetica-Neue, Arial, sans-serif!important;
	margin: 0px 5px 5px 0;  
	padding: 8px 12px!important;
	text-align: center!important;
	text-decoration: none!important;
	-webkit-appearance: none;
}

.btn:active {
	position: relative!important;
	top: 1px!important;
}

.btn-medium {
	font-size: 15px!important;
	padding: 13px 19px!important;
}

.btn-large {
	font-size: 17px!important;
	padding: 17px 29px!important;
}

.btn-round {
	border-radius: 200px!important;
	padding-left: 22px!important;
	padding-right: 22px!important;
}

.entry-content a.btn,
.entry-content p a.btn,
.entry-content a.btn:hover,
.entry-content p a.btn:hover {
	color: #FFF!important;
}

.btn-yellow {
	background: #FCC71F;
	border-color: #F5C017!important;
}
.btn-yellow:hover {
	background: #FFCF38;
	border-color: #FFCF38!important;
} 
 
.btn-purple {
	background: #C86CEE;
	border-color: #C061E7!important;
}
.btn-purple:hover {
	background: #D075F7;
	border-color: #D075F7!important;
}

.btn-green {
	background: #38C994;
	border-color: #31C28D!important;
}
.btn-green:hover {
	background: #40D39D;
	border-color: #40D39D!important;
}

.btn-blue {
	background: #5DB2F0;
	border-color: #62ABE0!important;
}
.btn-blue:hover {
	background: #6ABBF7;
	border-color: #6ABBF7!important;
}

.btn-red {
	background: #FC5355;
	border-color: #F74244!important;
}
.btn-red:hover {
	background: #FF6466;
	border-color: #FF6466!important;
}

.btn-orange {
	background: #FF7654;
	border-color: #FF6A45!important;
}
.btn-orange:hover {
	background: #FF8262;
	border-color: #FF8262!important;
}

.btn-pink {
	background: #FFADCB;
	border-color: #FDA5C5!important;
}
.btn-pink:hover {
	background: #FFB5D0;
	border-color: #FFB5D0!important;
}

.btn-grey {
	background: #888;
	border-color: #818181!important;
}
.btn-grey:hover {
	background: #919191;
	border-color: #919191!important;
}

.btn-black {
	background: #333;
	border-color: #2C2C2C!important;
}
.btn-black:hover {
	background-color: #3C3C3C;
	border-color: #3C3C3C!important;
}


/*----------------------------------------------------------*/
/*	# Columns.
/*----------------------------------------------------------*/
.column-one-half {
	width: 48%;
}
.column-one-third {
	width: 31%;
}
.column-two-third {
	width: 64%;
}
.column-one-fourth {
	width: 22%;
}
.column-three-fourth {
	width: 74%;
}

.column {
	float: left;
	position: relative;
	margin-right: 4%;
	margin-bottom: 20px;
}

.column-one-third {
	margin-right: 3.5%; 
}

.column-last {
	clear: right;
	margin-right: 0!important;
}


/*----------------------------------------------------------*/
/*	# Highlight.
/*----------------------------------------------------------*/
span.highlight {
	background-color: #FFF49B;
    color: #A5651A;
    padding: 0 5px;
}

.tab-content {
	border: 1px solid #d3d3d3;
	padding: 15px;
}

.tab-nav {
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

.tab-nav li {
	list-style: none !important;
	float: left;
	display: inline-block;
	margin-bottom: -1px;
}

.tab-nav li a {
	display: block;
	color: inherit;
	margin-right: 5px;
	border: 1px solid transparent;
	border-bottom: 0;
	box-shadow: none;
	margin: 0;
	border-radius: 3px 3px 0 0;
	padding: 10px 15px;
	outline: none !important;
}

.tab-nav .ui-tabs-active a {
	background-color: #fff;
	border-color: #d3d3d3;
	cursor: default;
}


/*----------------------------------------------------------*/
/*	# Tabs.
/*----------------------------------------------------------*/
.tabgroup {
	background-color: #fff;
	display: block;
}


/*----------------------------------------------------------*/
/*	# Toggles.
/*----------------------------------------------------------*/
.toggle {
	margin-bottom: 10px;
}

.toggle-title {
	background-color: #fff;
	border: 1px solid #d3d3d3;
	cursor: pointer;
	display: block;
	outline: none;
	position: relative;
	margin: 0;
	padding: 10px 15px;
}

.toggle-content {
	background-color: #FFF;
	border: 1px solid #D3D3D3;
	border-top: none;
	padding: 15px;
}


/*----------------------------------------------------------*/
/*	# Media Queries.
/*----------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	.column-one-half,
	.column-one-third,
	.column-two-third,
	.column-three-fourth,
	.column-one-fourth {
		margin-right: 0;
		width: 100%;
	}	
}